
body {
	font-family: Arial, sans-serif;
	background: #111;
	color: aquamarine;
	min-height: 100vh;
}

/*SmartPhone*/
@media (max-width: 1000px) {
	h1{
		font-size: 150px;
		margin-top: 55px;
		padding: 0;
	}

	.Container{
		display: flex;
		flex-direction: column;
		position:absolute;
		top: -2%;
		width: 100vw;
		height: 40vh;
		text-align: center;
		}

	.Container p{
		font-size: 60px;
	}

	.Container span{
		font-size: 75px;
	}

	.Container #Cpt_CigJour{
		font-size: 200px;
	}

	.Container #Bp_AddCig{
		height: 200px;
		width: 200px;

		display: inline-flex;
		justify-content: center;
		align-items: center;

		border-radius: 100%;
		background-color: orangered;
		color: #111;

		font-size: 100px;
	}

	#BpChoixAnalyse {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		gap: 30px;

	}

	#BpChoixAnalyse button{
		font-size: 55px;
		border-radius: 15px;
		width: 250px;
		color: #111;
	}

	#ContGraphique{
		position: relative;
	}

	.BpChoixPage{
		display: flex;
		flex-direction: row;
		position:absolute;
		font-size: 200px;
		bottom: -14%;
		width: 100vw;
		height: 20vh;
		text-align: center;
	}

	.BpChoixPage button{
		border-radius: 50px;
		background-color: grey;
		font-size: 80px;
		width: 330px;
		height: 125px;
	}

	.Container .tabJourScroll{
	display: inline-flex;
	border-collapse: collapse;
	align-items: center;
	justify-content: center;
	height: 650px;
	width: 850px;
	overflow-y: auto;
}	

	.tabJourScroll thead th {
		top: 0;
		background-color: rgb(148, 144, 144);
		z-index: 10;
	}

	.tabJourScroll th,
	.tabJourScroll td {
		border: 1px solid #ccc;
		padding: 15px;
	}


	td {
		background-color: rgb(148, 144, 144);
		font-size: 40px;
		margin: 0;
	}

	table button {
		background-color: rgb(148, 144, 144);
		color: white;
		border: none;
		font-size: 40px;
	}	

	.tabJourScroll table {
	border-collapse: collapse;
	width: 100%;
	margin-top: auto;
}

	.Container #BpChoixJourMoins, #BpChoixJourPlus{
		font-size: 40px;
		width: 250px;
	}

	.Container #JourChoixJourVisuTableau{
		display: inline-flex;
		justify-content: center;
		align-items: center;
		width: 150px;
		font-size: 90px;
		padding: 130px;
		padding-bottom: 0;
		padding-top: 0;
	}

	.Container #Bp_AddCig_Historique{
		font-size: 40px;
		width: 300px;
	}

	.Container #AjoutLigneManu{
		font-size: 40px;
		border-radius: 13px;
		width: 300px;
		
	}
}

/*Ordinateur*/
@media (min-width: 1000px) {
	h1{
		font-size: 80px;
		margin-top: 40px;
		margin-bottom: 30px;;
		padding: 0;
	}

	.Container{
		display: flex;
		flex-direction: column;
		position:absolute;
		justify-content: center;
		align-items: center;
		margin : 0;
		top: -2%;
		width: 100vw;
		height: 40vh;
		text-align: center;
		
	}

	.Container p{
		font-size: 40px;
		margin: 30px;
	}

	.Container span{
		font-size: 40px;
	}

	.Container #Cpt_CigJour{
		font-size: 75px;
	}

	.Container #Bp_AddCig{
		height: 100px;
		width: 100px;

		display: inline-flex;
		justify-content: center;
		align-items: center;

		border-radius: 100%;
		background-color: orangered;
		color: #111;

		font-size: 50px;
	}

	#BpChoixAnalyse {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		gap: 30px;

	}

	#BpChoixAnalyse button{
		font-size: 30px;
		border-radius: 15px;
		width: 200px;
		color: #111;
	}

	#MyChart{
		position: relative;
		left: 28%;
		max-width: 600px;
		height: 400px;
		max-height: 400px;;
	}

	.BpChoixPage{
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		position:absolute;
		gap: 20px;
		bottom: -7%;
		width: 100vw;
		height: 20vh;
		text-align: center;
	}

	.BpChoixPage button{
		border-radius: 10px;
		background-color: grey;
		font-size: 40px;
		width: 80px;
		height: 65px;
	}

	.Container .tabJourScroll{
	display: inline-flex;
	border-collapse: collapse;
	align-items: center;
	justify-content: center;
	height: 500px;
	width: 850px;
	overflow-y: auto;
}	

	.tabJourScroll thead th {
		top: 0;
		background-color: rgb(148, 144, 144);
		z-index: 10;
	}

	.tabJourScroll th,
	.tabJourScroll td {
		border: 1px solid #ccc;
		padding: 15px;
	}


	td {
		background-color: rgb(148, 144, 144);
		font-size: 20px;
		margin: 0;
	}

	table button {
		background-color: rgb(148, 144, 144);
		color: white;
		border: none;
		font-size: 25px;
	}

	.tabJourScroll table {
	border-collapse: collapse;
	width: 100%;
	margin-top: auto;
}

}

/*Tous device*/
.MoyenneNbr{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-top: 10px;
	padding: 0;
}

.MoyenneInter{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-top: 0;
	padding: 0;
}