
body {
	font-family: Arial, sans-serif;
	background: #111;
	color: aquamarine;
}

.BpChoixPage button {
	background-color: grey;
	font-size: 30px;
	width: 180px;
}

.Tab {
	text-align: center;
	font-size: 60px;
}

#Cpt_CigJour {
	font-size: 300px;
}

@media (min-width: 1000px) {
	.Tab {
	text-align: center;
	top: 50px;
	left: 50px;
	font-size: 40px;
}
	
#Cpt_CigJour {
	font-size: 60px;
}
}


@media (hover: hover){
#Bp_AddCig:hover {
	background-color: green;
	color: red;
}
}

@media (hover: hover){
#Bp_AddJ:hover {
	background-color: green;
	color: red;
}
}




tr {
	color: var(--textcolor);
	position : static;
	text-align : center;
	font-size: 30px;
}

td:nth-child(4),
th:nth-child(4) {
	display: none;
}

table {
	border-collapse: collapse;
	width: 500px;
}

th, td {
	border: 1px solid #ccc;
	padding: 10px;
	text-align: center;
}

th {
	background-color: rgb(116, 114, 114);
	font-size: 30px;
}

td {
	background-color: rgb(148, 144, 144);
	font-size: 20px;
}

table button {
	background-color: rgb(148, 144, 144);
	color: white;
	border: none;
	font-size: 15px;
}
