
body {
	font-family: Arial, sans-serif;
	background: #111;
	color: aquamarine;
}

.BpChoixPage {
	display: flex;
	flex-direction: row;
	justify-content: center;
	position:absolute;
	gap: 15px;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;

}
 
.BpChoixPage button {
	border-radius: 30px;
	background-color: grey;
	font-size: 160px;
}

#Home {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position:absolute;
	gap: 5px;
	top: 1%;
	left: 50%;
	width: 500px;
	transform: translateX(-50%);
	text-align: center;
}

#Cpt_CigJour {
	font-size: 300px;
}

#Bp_AddCig, #Bp_AddJ{
	font-size: 60px;
	border-radius: 60px;
	padding: 6px;
}


#Analyse {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position:absolute;
	top: -30px;
	left: 50%;
	transform: translateX(-50%);
}


#Historique {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position:absolute;
	top: -30px;
	left: 50%;
	transform: translateX(-50%);
}


@media (min-width: 1000px) {
	.Tab {
	text-align: center;
	top: 50px;
	left: 50px;
	font-size: 40px;
}
	
#Cpt_CigJour {
	font-size: 60px;
}

.BpChoixPage button {
	padding : 10px;
	border-radius: 30px;
	background-color: grey;
	font-size: 70px;
}

}

@media (hover: hover){
#Bp_AddCig:hover {
	background-color: green;
	color: red;
}
}

@media (hover: hover){
#Bp_AddJ:hover {
	background-color: green;
	color: red;
}
}


.tabJourScroll {
	height: 500px;
	width: 700px;
	overflow-y: auto;
}

.tabJourScroll table {
	border-collapse: collapse;
	width: 100%;
}	

.tabJourScroll thead th {
	top: 0;
	background-color: rgb(148, 144, 144);
	z-index: 10;
}

.tabJourScroll th,
.tabJourScroll td {
	border: 1px solid #ccc;
	padding: 10px;
}


td {
	background-color: rgb(148, 144, 144);
	font-size: 20px;
}

table button {
	background-color: rgb(148, 144, 144);
	color: white;
	border: none;
	font-size: 15px;
}


#Bp_Test{
	font-size: 20px;
	border-radius: 60px;
	padding: 6px;
}